---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
stringData:
  {% for item in cloudflare.tunnels%}
  TUNNEL_ID_{{ item.index }}: "{{ item.id }}"
  credentials_{{ item.index }}.json: |
    {
      "AccountTag": "{{ cloudflare.account_tag }}",
      "TunnelSecret": "{{ item.secret }}",
      "TunnelID": "{{ item.id }}"
    }
  {% endfor %}
