---
- name: Set up passwordless sudo
  block:
    - name: Update packages and install sudo
      ansible.builtin.apt:
        update_cache: true
        name: sudo
      become: true

    - name: 'Add {% raw %}{{ ansible_user }}{% endraw %} to sudoers without password prompt'
      ansible.builtin.lineinfile:
        dest: /etc/sudoers.d/'{% raw %}{{ ansible_user }}{% endraw %}'
        line: '{% raw %}{{ ansible_user }}{% endraw %} ALL=(ALL) NOPASSWD:ALL'
        create: true
        validate: 'visudo -cf %s'
        mode: '0644'
