proxmox_api_url: "https://#{ proxmox.ip }#:#{ template.proxmox.port }#/api2/json"
proxmox_api_token_id: "#{ proxmox.api.packer.token_id }#"
proxmox_api_token_secret: "#{ proxmox.api.packer.token_secret }#"
proxmox_node_name: "#{ proxmox.node_name }#"
iso_file: "local:iso/#{ os_iso.file }#"
iso_url: "#{ os_iso.url }#"
iso_checksum: "#{ os_iso.checksum }#"
iso_storage_pool: "#{ os_iso.storage_pool }#"
unmount_iso: #{ os_iso.unmount_iso|lower }#
ssh_username: "#{ ssh.username }#"
ssh_password: "#{ ssh.password.raw }#"
ssh_private_key_file: "#{ ssh.private_key_file }#"
