---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  {% for item in cloudflare.tunnels %}
  SECRET_DOMAIN_{{ item.index }}: "{{ item.domain }}"
  SECRET_ACME_EMAIL_{{ item.index }}: "{{ item.ssl.acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID_{{ item.index }}: "{{ item.id }}"
  {% endfor %}
