pm_api_url: "https://#{ proxmox.ip }#:#{ proxmox.port }#/api2/json"
cloudinit_template_name: "debian-11-cloudinit-template"
proxmox_node: #{ proxmox.node_name }#
ssh_key: #{ ssh.authorized_keys[0] }#
pm_api_token_id: #{ proxmox.api_tokens.terraform.token_id }#
pm_api_token_secret: #{ proxmox.api_tokens.terraform.token_secret }#
